/*
  Name: Mike Murphy
  Date:  2023-10-10
  This is the styles.css page for my project site. It is used by all 
  pages in the site to give the site a consistent look and feel.
*/

/*
  Note: This body rule set is to get you started
*/
body {
  background-color: #d9c289;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}